<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Preferences</title>
    <link rel="stylesheet" href="../static/css/userPreference.css" />
</head>
  <body>
    <header class="header">
      <h1>Taste Links</h1>
    </header>
    <form class="form" id="restaurant-preferences">
      <h2>Set Your Restaurant Preferences</h2>
      <fieldset>
        <legend>Restaurant Names</legend>
        <div class="options-container">
          <label>
            <input type="checkbox" name="restaurant[]" value="Sunset Spoon"> Sunset Spoon
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="Nori & Nectar"> Nori & Nectar
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="La Pomme Rouge"> La Pomme Rouge
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="Olive & Ember"> Olive & Ember
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="Bamboo Alley"> Bamboo Alley
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="Seoul Street Bites"> Seoul Street Bites
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="Spice Harbor"> Spice Harbor
          </label>
          <label>
            <input type="checkbox" name="restaurant[]" value="Bao & Brew"> Bao & Brew
          </label>
        </div>
      </fieldset>

      <hr>

      <fieldset>
        <legend>Price Range</legend>
        <div class="options-container">
          <label>
            <input type="radio" name="price" value="$" required > $ (Inexpensive)
          </label>
          <label>
            <input type="radio" name="price" value="$$"> $$ (Moderate)
          </label>
          <label>
            <input type="radio" name="price" value="$$$"> $$$ (Expensive)
          </label>
          <label>
            <input type="radio" name="price" value="$$$$"> $$$$ (Very Expensive)
          </label>
        </div>
      </fieldset>

      <fieldset>
        <p id="cuisine-error" style="color:red; display:none;">Please select at least one cuisine.</p>
        <legend>Cuisine Type</legend>
        <p>Select all preferred cuisines</p>
        <div class="options-container">
          <label>
            <input type="checkbox" name="cuisine[]" value="Italian"> Italian
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Thai"> Thai
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Mexican"> Mexican
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Indian"> Indian
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Vegan"> Vegan
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Mediterranean"> Mediterranean
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="BBQ"> BBQ
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Korean"> Korean
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Japanese"> Japanese
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Caribbean"> Caribbean
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Asian"> Asian
          </label>
          <label>
            <input type="checkbox" name="cuisine[]" value="Greek"> Greek
          </label>
        </div>
      </fieldset>

      <hr>

      <button type="submit">Save Preferences</button>
      <button type="reset">Clear Preferences</button>
    </form>
  <script src="../static/js/submit.js"></script>
  </body>
</html>